{% extends "base.html" %}

{% block title %}
    {{ title }} {{ block.supper }}
{% endblock title %}

{% block content %}
<div>
    <button class="newGame" aria-expanded="false" data-target="#FormNewGame" data-toggle="collapse" type="button"><h1 class="underline">+ New Game</h1></button> 
	<div class="collapse" id="FormNewGame" aria-expanded="false" style="height: 0px;"> 
		<form method='POST' action='.'> 
    		<div class="newGame well form-group"> 
    			{{ form }}
			<input type='submit' class='btn btn-lg btn-primary btn-block' value='Play'>
			</div>	
		</form>
	</div> 
</div>

{% endblock %}