<!DOCTYPE html>

<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dart Game">
    <meta name="author" content="Paul Faucheux">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title> Dart Game  </title>
        {% include 'stylesheets.html' %}
    </head>
    
    <body lang='en'>
        <div class="container">
            {% include 'header.html' %}
            
			{% block content %}
			{% endblock content %}
            
        </div>
        {% include 'javascript.html' %}
    </body>
</html>