<!DOCTYPE html>

<html>
    <body>
        <h1>{{title}} Game.html</h1>
        <div>
            <table>
            {{ table | safe}}
            </table>
        </div>
        <h2>{{player_name}}</h2>
        <h2>{{current_dart}}</h2>
        <div>
            <form method='POST' action='.'> {% csrf_token %}
                <!--<input name='url' type='text' placeholder='Please enter your URL'>-->
                {{ form_dart.as_p }}
                <input type='submit' value='Submit'>
            </form>
        </div>
    </body>

</html>